* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index */

body {
    background-color: rgb(106, 117, 184);
}

h1{
    text-align: center;
    padding: 2rem;
    background-color: rgb(215, 212, 248);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    background-color: rgb(215, 212, 248);
}

nav ul li a {
    text-decoration: none;
    color: rgb(3, 3, 60);
    box-shadow: 0px 0px 12px 2px rgb(255, 255, 255);
    padding: 0.3rem  0.6rem 0rem 0.6rem;
}


h3 {
    text-align: center;
}
.pokemons{
    display: flex;
    gap: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemons div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 14rem;
    height: 17rem;
    gap: 0.7rem;
    box-shadow: 6px 6px 10px rgb(184, 200, 234);
    border-radius: 1rem;
    background-color: rgb(216, 242, 241);
    transition: transform 0.2s ease;
}

.pokemons div:hover{
    transform: scale(1.1);
}

.pokemons div .types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
}

.pokemons div .types {
    transform: unset;
}

.pokemons div img{
    width: 12rem;
    align-self: center;
}

.fire{
    background-color: rgb(248, 122, 19);
    color: aliceblue;
    width: 2.8rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

.water{
    background-color: rgb(49, 88, 194);
    color: aliceblue;
    width: 3.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

.grass{
    background-color: rgb(27, 175, 91);
    color: aliceblue;
    width: 3.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}
.flying{
    background: linear-gradient(rgb(0, 170, 255), rgb(125, 125, 125));
    color: aliceblue;
    width: 4.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

.poison{
    background-color: rgb(159, 126, 230);
    color: aliceblue;
    width: 3.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

.bug{
    background-color: rgb(83, 140, 87);
    color: aliceblue;
    width: 3.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

.normal{
    background-color: rgb(149, 144, 144);
    color: aliceblue;
    width: 4.5rem;
    height: 1.4rem;
    padding-top: .1rem;
    border-radius: .5rem;
    
}

/* pokedex */

.side-a{
    background-color: rgb(176, 0, 0);
    width: 25rem;
    height: 32rem;
    margin: 10rem;
    display: flex;
    flex-direction: column;
}

.gray-border{
    background-color: darkgray;
    width: 20rem;
    height: 15rem;
    margin-top: 6rem;
    align-self: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 2.5rem;
}

.buttons2{
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 0.8rem;
}
.button-circle{
    background-color: rgb(29, 1, 1);
    width: 2.2rem;
    height: 2rem;
    border-radius: 10rem;
    margin-right: 1rem;
}

.button-input{
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    
}

#buttonImg{
    width: 8rem;
    margin-right: 0.8rem;
    margin-top: -1rem;
}
